<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Exam: <%=Exam.examName%></h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          

            <%if(Question!=false){%>
                
                
                    <form action="/submitAnswer" method="post">
                        <input type="hidden" name="examName" value="<%=Exam.examName%>">
                        <input type="hidden" name="n" value="<%=N%>">
                        <input type="hidden" name="question" value="<%=Question.question%>">
                    <h3><%= Question.questionNo %>) <%= Question.question %> </h3>
                    <div class="form-group">
                        <label for="solution">*Solution</label>
                        <textarea name="answer"  cols="30" rows="10" required class="form-control" placeholder="An operating system (OS) is system software that manages computer hardware, software resources, and provides common services for computer programs."></textarea> 
        
                      </div>
                      <button type="submit" name="questionNo" value="<%=Question.questionNo%>">Submit Answer</button>
                    </form>
                
            
            <%}%>
            
            
            

        </div>
        <a href="/back" class="btn btn-light btn-lg" >Back to Home page</a>
      </div>
    </div>

    <!--<div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/footer') %>